<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>Login & Register form</title>
        
     <link rel="stylesheet" href="static/css/style.css">    
  </head>

<body>

<div class="login-wrap">
  <h2>Login</h2>
  <form action="/home" method="POST">
  <div class="form">
   UserName: <input type="text" name="username"  />
   Password: <input type="password" name="password"  />
    <input type="submit" value="Login">
  </div>
  </form>
  <form action="/signup" method="GET">
  <input type="submit" value="signup">
  </form>
</div>
</body>
</html>
