<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>Login & Register form</title>
        
     <link rel="stylesheet" href="static/css/style.css">    
  </head>

<body>

<div class="login-wrap">
  <h2>Login</h2>
  <form action="/signup" method="POST">
  <div class="form">
  <b> Username: </b><br><input type="name" name="username"><br><br>
  <b>Password: </b><br><input type="password" name="password"  /><br><br>
    <input type="submit" value="save">
  </div>
  </form>
</div>
</body>
</html>
